@model Parcial1.Models.Estudiante

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro que deseas eliminar?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        @if (Model.Cursos.Any())
        {
            <dt class="col-sm-2">Cursos</dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var curso in Model.Cursos)
                    {
                        <li>@curso.Nombre</li>
                    }
                </ul>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <button type="button" class="btn btn-dark"><a asp-action="Index">Volver a la lista</a></button>
    </form>
</div>
