@using Parcial1.ViewModels;

@model EstudianteCreateViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Estudiante">
        <div>
            <input class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn" type="submit">Buscar</button>
    </form>
</div> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].NombreAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].ApellidoAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].Cursos)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estudiantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
