@using Parcial1.ViewModels;

@model EstudianteCreateViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Estudiantes</h1>

<p>
    <button type="button" class="btn btn-primary"><a class="Links" asp-action="Create" >Crear un nuevo estudiante</a></button>
</p>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Estudiante">
        <div>
            <input class="form-control" asp-for="NameFilter">
        </div>
        <button class="btn" type="submit">Buscar</button>
    </form>
</div> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].NombreAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].ApellidoAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiantes[0].Dni)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Estudiantes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                <button type="button" class="btn btn-secondary"><a asp-action="Edit" asp-route-id="@item.Id">Editar</a></button> 
                <button type="button" class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id">Detalles</a></button>
                <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
