@model Parcial1.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-secondary"><a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a></button>
    <button type="button" class="btn btn-dark"><a asp-action="Index">Volver a la lista</a></button>
</div>
